<section class="card">
  <a href="/blog/{{id}}">
    <header class="header"><span>
      {{post_title}}</span>
      <span>Posted by 
      {{user.username}} on {{format_date createdAt}}</span></header>
    <div class="card-body">
      {{content}}
    </div>
  </a>
</section>