<section class="card">
    <header><span>
      {{blog.post_title}}</span>
      <span>Posted by 
      {{blog.user.username}} on {{format_date blog.createdAt}}</span></header>
    <div class="card-body">
      {{blog.content}}
    </div>
</section>
<h4>Comments</h4>
{{#each comments as |comment|}}
<section class="card">
      <header class="header"></header>
    <div class="card-body">
      <span>{{content}}</span>
      <span>-{{user.username}}, {{format_date createdAt}} </span>
      
    </div>
</section>
{{/each}}
